*.env
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.DS_Store
.cache
.dynamodb/
.env
.env.test
.eslintcache
.fusebox/
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless/
.vscode/
.vuepress/dist
.yarn-integrity
bower_components
build/Release
coverage
coverage/
docs/.vuepress/dist/
jspm_packages/
lerna-debug.log*
lib-cov
logs
my-tests/
node_modules/
npm-debug.log
npm-debug.log*
pids
public/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
yarn-debug.log*
yarn-error.log
yarn-error.log*
